<%- include("./partials/header") %>



<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->


<style>



/* body{ margin:0px } */
/* div#top{ background:url(topSliver.png) repeat-x; height:73px; font-size:36px; text-align: center; padding:20px 0px 0px 20px;  } */
div#middle{ min-width:900px; padding: 20px}
div#middle > div#margin{ float:left; width:50%; }
div#middle > div#margin > div#border{ border:white 0px solid; padding: 40px; margin-left:0px;
    margin-right:auto; }
div#middle > div#margin > div#border > img{ width:100%; }


div#projects{ min-width:900px; padding: 0px}
div#projects > div#margin{ float:left; width:100%; }
div#projects > div#margin > div#border{ border:white 0px solid; padding: 40px; margin-left:0;
    margin-right:auto; }

div#middle1{ min-width:900px; padding: 20px }
div#middle1 > div#margin{ float:left; width:50%; }
div#middle1 > div#margin > div#border{ border:white 0px solid; padding: 40px; margin-left:150px;
    margin-right:0px; }
div#middle1 > div#margin > div#border> img{ width:100%; }


/* div#bottom{ clear:left; background:#666; height:200px; } */


.txt {
	text-indent: 20px;
	/*font-family:Times New Roman,Times,serif;*/
	font-family: 'Josefin Sans', sans-serif;
	font-size:20px;
	/* margin-top: 0em;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: auto; */
}


.fixed-bg {
background-image: url("logonew.png");/*url("/imgs/makeaconnection.jpg");*/
min-height: 450px;
background-attachment: fixed;
background-position: right top;
/* background-position: 500px -60px; */
background-repeat: no-repeat;
background-size: cover;
background-size: 50%;

}

#mypic {
  width: 70%;
  height: auto;
  margin-right : auto;
  margin-left : auto;
  min-width : 200px;
  max-width : 300px;
}



</style>

<div id="middle">



</div>


<div class="container" style = "margin-top:6em;margin-bottom:4em;">
  <div class="row">
    <div class="col-sm-6">

      <div>
        <div class="sectionTitle">What We Do</div>
      </div>

      <div class="txt" style = "margin-bottom:1em;margin-left:2em;margin-right:auto;">
        <p>As the COVID-19 pandemic has severely disrupted the economy and University research programs, thousands of college students, including us,
        lost amazing opportunities.</p>
      </div>

      <div class="txt" style = "margin-left:auto;margin-left:2em;margin-right:auto;margin-bottom:1em;">
        <p>
        We want to help out our fellow students by creating this platform InternConn to connect impacted students with ongoing,
        remote research or internship opportunities.
      </p>
      </div>


    </div>

    <div class="col-sm-6">
<!--
      <div class="txt" style = "text-align:center; margin-bottom:5em;margin-left:0em;">
      <img id ="mypic" src= "/imgs/howitWorks.jpg" class="img-responsive" style="min-width : 300px;
      max-width : 700px;" alt="Cinque Terre">
      </div> -->


      <div style = "resize: vertical; margin-left:2em;">
  				<div class="fixed-bg"></div>
  		</div>

    </div>

  </div>
</div>


<!-- How it works -->
<div class="container py-5">
  <div class="row justify-content-md-center">
    <div class="col-sm-6">
      <img src="/imgs/howitWorks.jpg" class="img-thumbnail border-0">
    </div>
    <div class="col-sm-6">
      <div class="sectionTitle my-3">How It Works</div>
        <p><strong>For Students</strong>:<br>
        As a student, we expect you to form up in a team of 3-4 people and voluntarily work on valuable projects and research opportunities to gain intern experience.</p>
        <p><strong>For Companies</strong>:<br>
        As a project sponsor, we hope you can participate in weekly check-in with the team working for the project and provide mentorships and advice.</p>
    </div>
  </div>
</div>


<!-- Projects -->
<div class="album py-5 bg-light">
    <div class="container">
    	<div class="row">
    	  <div class="col-sm-12">
	    	  <div style = "text-align: center">
	    	    <div class="sectionTitle">Opportunities</div>
	    	  </div>
    	  </div>
    	</div>
      <div class="text-center mt-2 mb-5">
        <a href="/projects">
          <button type="button" class="btn btn-outline-success rounded-pill">View All Projects</button>
        </a>
      </div>
      
      

      <div class="row">
      	<% projects.forEach(function(project){ %>
	        <div class="col-md-4">
	          <div class="card mb-4 shadow-sm">
	            <svg class="bd-placeholder-img card-img-top px-5" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><image width="100%" height="100%" xlink:href="<%= project.img %>" /></svg>
	            <div class="card-body">
	              <p class="card-text"><%= project.jobTitle %></p>
	              <p class="card-text">@ <em><%= project.name %></em></p>
	              <div class="d-flex justify-content-between align-items-center">
	                <div class="btn-group">
	                	<a href="/projects/<%= project._id %>">
	                		<button type="button" class="btn btn-outline-primary">Read More</button>
	                	</a>
	                  
	                </div>
	                <!-- <small class="text-muted">9 mins</small> -->
	              </div>
	            </div>
	          </div>
	        </div>
        <% }) %>
      </div>
    </div>
</div>


<!-- Contact -->
<div class="container my-5" >
  <div class="row">
    <div class="col-sm-12">
      <div class="sectionTitle">Contact Us</div>
    </div>
  </div>
</div>
<div class="container text-center" style = "margin-bottom:4em;">
      <div style = "margin-bottom:1em;margin-right:2em;margin-left:2em;">
      	<p><strong>For Students</strong>:</p>
      	<p>
      		If you want to <em>participate</em> in the internship projects, please submit your application <strong><a href="https://forms.gle/5LUNai9ZBgHxe9yt9" style="text-decoration: underline;">here</a></strong>!
      	</p>
      	<div class="py-2"></div>
        <p><strong>For Companies</strong>:</p>
	    <p>
	    	If you are interested in <em>providing</em> a valuable summer internship project, please contact us!
	    </p>
	    <div class="py-2"></div>
        <p>
          	<em>Email: </em> <a href="mailto:internconn.contact@gmail.com" style="text-decoration: underline;">internconn.contact@gmail.com</a>
      	</p>
      </div>
</div>


<%- include("./partials/footer") %>
