<%- include("./partials/header") %>




<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
/* body{ margin:0px } */
/* div#top{ background:url(topSliver.png) repeat-x; height:73px; font-size:36px; text-align: center; padding:20px 0px 0px 20px;  } */
div#middle{ min-width:900px; padding: 20px}
div#middle > div#margin{ float:left; width:50%; }
div#middle > div#margin > div#border{ border:white 0px solid; padding: 40px; margin-left:0px;
    margin-right:auto; }
div#middle > div#margin > div#border > img{ width:100%; }


div#projects{ min-width:900px; padding: px}
div#projects > div#margin{ float:left; width:100%; }
div#projects > div#margin > div#border{ border:white 0px solid; padding: 40px; margin-left:0;
    margin-right:auto; }

div#middle1{ min-width:900px; padding: 20px }
div#middle1 > div#margin{ float:left; width:50%; }
div#middle1 > div#margin > div#border{ border:white 0px solid; padding: 40px; margin-left:150px;
    margin-right:0px; }
div#middle1 > div#margin > div#border> img{ width:100%; }


/* div#bottom{ clear:left; background:#666; height:200px; } */


.txt {
	text-indent: 20px;
	font-family:Times New Roman,Times,serif;
	font-size:20px;
	/* margin-top: 0em;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: auto; */
}


.fixed-bg {
background-image: url("/imgs/makeaconnection.jpg");
min-height: 450px;
background-attachment: fixed;
background-position: right top;
/* background-position: 500px -60px; */
background-repeat: no-repeat;
background-size: cover;
background-size: 50%;

}




</style>

<div id="middle">

	<div id = "margin">
    <div id = "border">
      <!-- <img src="/imgs/aboutUS.jpg" alt="example"> -->
					<div style = "width: 450px;">

						<div class="txt" style = "text-align:center;margin-bottom:2em;">
							WHAT WE DO
						</div>

						<div class="txt" style = "margin-bottom:2em;margin-left:2em;margin-right:auto;">
							<p>As the COVID-19 pandemic has severely disrupted the economy and University research programs, thousands of college students, including us,
							lost amazing opportunities.</p>
						</div>

						<div class="txt" style = "margin-left:auto;margin-left:2em;margin-right:auto;margin-bottom:2em;">
							We want to help out our fellow students by creating this platform InternConn to connect impacted students with ongoing,
							remote research or internship opportunities.
						</div>

					</div>

    </div>
  </div>

  <div id="margin">
    <div id="border">
		<div style = "resize: vertical; margin-left:2em;">
				<div class="fixed-bg"></div>
		</div>

    </div>
  </div>

	<div id="margin">
		<div id= "border">
		<img src="/imgs/howitWorks.jpg" alt="example">

		</div>
	</div>

	<div id="margin">
		<div id="border">
		<div style = "width: 400px;">
			<div class="txt" style = "text-align:center;margin-bottom:2em;">
				HOW IT WORKS
			</div>

			<div class="txt" style = "margin-bottom:1em;margin-right:0.5em;margin-left:2em;">
				<p>For students:</p>
				<p>
					As a student, we expect you to form up in a team of 3-4 people and voluntarily work on valuable projects and research opportunities to gain intern experience.
				</p>

			</div>

			<div class="txt" style = "margin-left:auto;margin-right:0.5em;margin-left:2em;margin-bottom:2em;">
				<p>For companies:</p>
				<p>As a project sponsor, we hope you can participate in weekly check-in with the team working for the project and provide mentorships and advice.</p>
			</div>

		</div>

		</div>
	</div>

</div>


<div id="projects" name="projects">
	<div id=“margin”>
		<div id="border">
			<div class="txt" style = "font-size: 30px; text-align: center">
					OPPORTUNITIES
			</div>
			<!-- <div style="text-align: center; margin-top: 2em">
				<a href="#">
					<button class="w3-button w3-white w3-border w3-border-black w3-round-xxlarge" style = "font-size: 20px;">Apply Now</button>
				</a>
			</div> -->
		</div>

	</div>

</div>


</style>

<div id="middle1">
	<% projects.forEach(function(project){ %>
		<div id="margin">
			<div id="border">
			<img src="<%= project.img %>" alt="example">

			<!-- <div class="fixed-bg"></div> -->
			</div>
		</div>
		<div id="margin">
			<div id="border">

			<div style = "width: 300px; margin-left:-10em; margin-bottom:10em;">
				<div class="txt" style = "text-align:center; text-align:center;margin-bottom:1em;">
					<%= project.name %>
				</div>

				<div class="txt" style = "text-align:center; margin-bottom:1em;margin-right:0.5em;margin-left:1em;">
					<p>
						<%= project.jobTitle %>
					</p>
				</div>
				<!-- margin-top: 0;margin-bottom: 0em;margin-left: 7em; margin-right: 0em; -->
				<div style = "margin-top: 0;margin-bottom: 0em;margin-left: 7em; margin-right: 0em;">
					<a href="/projects/<%= project._id %>">
						<button class="w3-button w3-white w3-border w3-border-black w3-round-xxlarge" style = "font-size: 14px">Read More</button>
					</a>
				</div>
			</div>

			</div>
		</div>

	<% }) %>



</div>


<br>
<br>

<!-- <div>
	<h1>Projects</h1>
	<a href="/projects" class="btn btn-lg btn-success">View All Projects</a>
</div> -->


<%- include("./partials/footer") %>
