<%- include("../partials/header") %>


<!-- Projects -->
<div class="album py-5">
    <div class="container">
    	<div class="row">
    	  <div class="col-sm-12 mt-5">
	    	  <div style = "font-size: 3em; text-align: center">
	    	    <div class="sectionTitle">Opportunities</div>
	    	  </div>
    	  </div>
    	</div>

    	<div class="text-center mt-2 mb-5 ">
    	  <a href="https://forms.gle/5LUNai9ZBgHxe9yt9">
    	    <button type="button" class="btn btn-outline-success rounded-pill">Apply Now</button>
    	  </a>
    	</div>

      <div class="row">
      	<% projects.forEach(function(project){ %>
	        <div class="col-md-4">
	          <div class="card mb-4 shadow-sm">
	            <svg class="bd-placeholder-img card-img-top px-5" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><image width="100%" height="100%" xlink:href="<%= project.img %>" /></svg>
	            <div class="card-body">
	              <p class="card-text"><%= project.jobTitle %></p>
	              <p class="card-text">@ <em><%= project.name %></em></p>
	              <div class="d-flex justify-content-between align-items-center">
	                <div class="btn-group">
	                	<a href="/projects/<%= project._id %>">
	                		<button type="button" class="btn btn-outline-primary">Read More</button>
	                	</a>
	                  
	                </div>
	                <!-- <small class="text-muted">9 mins</small> -->
	              </div>
	            </div>
	          </div>
	        </div>
        <% }) %>
      </div>
    </div>
  </div>

<%- include("../partials/footer") %>