<%- include("../partials/header") %>

<div class="container my-5 py-5 px-5">
  <div class="row justify-content-md-center">
    <div class="col">
      <img src="<%= project.img %>" class="img-thumbnail border-0">
    </div>
    <div class="col" style="text-align: center;">
      <p ><%= project.name %></p>
      <a href="<%= project.companyUrl %>">
          <p><%= project.companyUrl %></p>
      </a>
      <p><%= project.description %></p>
    </div>
  </div>


  <hr class="my-5">

  <div>
  	<h1 class="text-center">
  		<%= project.jobTitle %>
  	</h1>
  	<div class="my-5">
  		<h5>
  			Description
  		</h5>
  		<p>
  		  <%= project.description %>
  		</p>
  	</div>
  	<div class="my-5">
  		<h5>
  			Requriement
  		</h5>
  		<p>
  		  <%= project.jobRequriement %>
  		</p>
  	</div>

  	<div class="my-5 text-center">
	  	<a href="https://forms.gle/5LUNai9ZBgHxe9yt9">
	  		<button type="button" class="btn btn-primary">Apply Now</button>
	  	</a>
  	</div>
  </div>


  <div style="text-align: center;">
	  <% if(currentUser && project.author.id.equals(currentUser._id)) { %>
	  	<a class="btn btn-xs btn-warning" href="/projects/<%= project._id %>/edit">Edit</a>
	  	<form id="delete-form" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
	  		<button class="btn btn-xs btn-danger">Delete</button>
	  	</form>
	  <% } %>
  </div>
</div>
<%- include("../partials/footer") %>
